// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary-font: "Press Start 2P", cursive;
$secondary-font: 'Open Sans', sans-serif;

// Colors
$base-color: #31363F;
//remove this line to revert to old color
$base-color: #343338;

$darker-thank-base-color: darken(#343338, 10%);

$darkest: lighten( $base-color, 3%);
$dark: lighten( $darkest, 5%);
$middle: lighten( $dark, 5%);
$lighter: lighten( $middle, 10% );
$bright: lighten( $lighter, 10% );

$shadow: darken($base-color, 3%);

// Theme color
$theme-color: #40fc3a;
$theme-color2: lighten($theme-color, 27%);


// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: $theme-color !default;
